@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(95, 92, 92);
}


@media (max-width: 900px) {
    .searchbar {
        display: none; /* Hide search bar on smaller screens */
    }

    .connect-button-container {
        display: none; /* Hide connect button on smaller screens */
    }

    .dropdown-menu {
        display: none;
    }
}

@media (min-width: 901px) {
    .mobile-menu {
        display: none; 
    }
}

.ad-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.ad-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pagination button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    flex: 0 1 auto;
}

.pagination button.active {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .ad-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .ad-grid {
        grid-template-columns: 1fr;
    }
}